/* CSS Document */
.container {
  max-width: 1366px;
  /* 1366x768	16:9*/
  margin: auto;
}
.burgerMenu,
.mobH1 {
  display: none;
}
header,
.mainContent,
.row {
  max-width: 1200px;
  padding: 0 5px;
  margin: auto;
}
header nav ul li h1 {
  display: block;
  padding: 0;
  margin: 5px;
  font-size: 1.2rem;
  color: #ddeaf2;
}
header {
  justify-content: flex-end;
  padding: 0 0 0 5px;
 }
.banner {
  background-image: url(../images/banner1-1366.jpg);
  background-repeat: no-repeat;
  height: 200px;
}
.mainNav {
  padding: 8px 0;
  height: auto;
  display: none;
}
.mainNav .row ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mainNav > div > ul > li {
  border: none;
  padding: 0;
}
.logo {
  padding: 5px 0px;
  flex-basis: 85%;
 }
 .logo {
  padding: 5px 0px;
  flex-basis: 85%;
  position: relative;
 }
 .logo img {
  position: absolute;
  top: 0;
  left: 0;
 }
 loginLinks {
  flex-basis: 15%;
 }
 
 .search {
  padding: 5px 0;
  flex-basis: 40%;
 }
.banner h2 {
  top: 20px;
  left: 120px;
  font-size: 8em;
}
.mainContent {
  display: flex;
}
.sideBar {
  background-color: #ddceaa;
  flex-basis: 30%;
}
main {
  flex-basis: 70%;
}
.newsItem {
  flex-basis: 33%;
}
.strapline {
  display: flex;
}
.straplinetxt,
.straplineImg {
  padding: 0 5px;
  flex-basis: 50%;
}
